.tag {
    box-sizing: border-box;
    position: relative;
    margin: var(--spacing-extra-small);
    border: 2px solid transparent;
    border-radius: var(--spacing-small);
    padding: 0px var(--spacing-small);
    text-align: center;
    font-size: var(--font-size-small);
    user-select: none;

    &:hover {
        filter: brightness(80%);
    }

    &.draggable {
        cursor: move;
    }

    &.clickable {
        cursor: pointer;
    }

    &.minimal {
        margin: var(--spacing-extra-small);
        padding: 0px var(--spacing-extra-small);
        font-family: monospace;
    }

    &.selected {
        border-color: black;
    }

    &:not(.minimal) {
        min-width: 30px;
    }

    .count {
        padding: 0 var(--spacing-extra-small);
    }
}
