.tag {
    margin: var(--spacing-extra-small);
    border-radius: var(--spacing-small);
    padding: var(--spacing-extra-small) var(--spacing-small);
    text-align: center;
    font-size: var(--font-size-small);

    &.draggable {
        cursor: move;
    }

    &.clickable {
        cursor: pointer;
    }

    &.minimal {
        margin: var(--spacing-extra-small);
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-family: monospace;
    }

    &:not(.minimal) {
        min-width: 30px;
    }

    .count {
        padding: 0 var(--spacing-extra-small);
    }
}
