.raw-button {
    display: flex;
    outline: none;
    border: 0;
    border-radius: var(--spacing-extra-small);
    background-color: transparent;
    padding: 0;
    color: inherit;
    font-family: inherit;

    &:disabled {
        color: var(--color-disabled);
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            background-color: var(--color-hover-background);
            &.danger {
                color: var(--color-danger);
            }
        }
    }
}
