.home {
    background-color: var(--color-background);
    padding: var(--spacing-large);
    padding-top: 0;
    overflow: auto;

    .header {
        position: sticky;
        top: 0;
        z-index: 2; /* Need to do this because of absolute items in sortable list) */
        margin: 0;
        background-color: var(--color-background);
        padding: var(--spacing-small) 0;
    }

    .group {
        display: flex;
        flex-direction: column;
    }
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-separator);

    .text {
        flex-grow: 1;

        .text-area {
            resize: none;
        }

        .delete-button {
            visibility: hidden;
        }
    }

    &:focus-within {
        border-bottom: 1px solid var(--color-accent);
    }

    &:hover {
        .text {
            .delete-button {
                visibility: visible;
            }
        }
    }
}
